@import "~@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css";

.custom-navbar {
    height: 60px; 
    display: flex;
    align-items: center; 
    padding: 0 20px;
    background-color: #fff9f9;
  }

  .navbar-actions {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    box-sizing: border-box;
    outline: none;
  }

  .navbar-actions button {
    margin-bottom: 5px; 
    outline: none;
    box-shadow: none;
  }

  .custom-search-box {
    width: 40%; 
    max-width: 300px;
    margin-left: 20px;
  }

  .slds-context-bar__secondary {
    align-items: flex-start; 
  }

  
  .slds-context-bar__primary {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .slds-context-bar__app-name {
    margin-left: 10px;
  }



