<div class="slds-modal slds-fade-in-open">
  <div class="slds-modal__container">
   
    <form (ngSubmit)="addTask()" >
      <div class="slds-form slds-form_stacked" class="custom-form">
        <!-- Form fields for task details -->
        <h2 class="slds-text-heading_medium" >Add New Task</h2>
        <div class="slds-form_element">
          <label class="slds-form-element__label" for="assignedTo">Assigned To</label>
          <div class="slds-form-element__control">
            <input type="text" id="assignedTo" [(ngModel)]="task.assignedTo" name="assignedTo" required class="slds-input"/>
          </div>
        </div>
        
        <div class="slds-form_element">
          <label class="slds-form-element__label" for="status">Status</label>
          <div class="slds-form-element__control">
            <select id="status" [(ngModel)]="task.status" name="status" required class="slds-select">
              <option value="Not Started">Not Started</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </div>
        </div>

        <div class="slds-form_element">
          <label class="slds-form-element__label" for="dueDate">Due Date</label>
          <div class="slds-form-element__control">
            <input type="date" id="dueDate" [(ngModel)]="task.dueDate" name="dueDate" required class="slds-input"/>
          </div>
        </div>

        <div class="slds-form_element">
          <label class="slds-form-element__label" for="priority">Priority</label>
          <div class="slds-form-element__control">
            <select id="priority" [(ngModel)]="task.priority" name="priority" required class="slds-select">
              <option value="Low">Low</option>
              <option value="Normal">Normal</option>
              <option value="High">High</option>
            </select>
          </div>
        </div>

        <div class="slds-form_element">
          <label class="slds-form-element__label" for="description">Description</label>
          <div class="slds-form-element__control">
            <input type="text" id="description" [(ngModel)]="task.description" name="description" required class="slds-input"/>
          </div>
        </div>

        <div class="slds-form_element form-buttons">
          <button type="submit" class="slds-button slds-button_brand custom-save-btn">Save</button>
          <button type="button" class="slds-button slds-button_neutral custom-close-btn" (click)="closeForm()">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
